#accom{
	border: solid black;
	background-color: "sky blue";
	border-radius: 25%;
	
}
.word{
word-wrap: break;
  flex: 70%;
  line-height: 20px;
  font-size: 5vw;
  margin: 0 15px 0 17px;
}

.bio{
border-radius: 25%;
  flex:30%;
  width: 75%;
  height:75%;
}

@media only screen and (max-width:750px){
	.bio{
		width:75%;
		
	
