#accom{
	border: solid black;
	background-color: "sky blue";
	border-radius: 25%;
	
}
.word{
word-wrap: break;
  flex: 60%;
  line-height: 50px;
  font-size: 20px;
  margin: 0 15px 0 17px;
  overflow:hidden;
  width: 50%;
  vertical-align:middle;
}
.bio{
  flex:30%;
  width: 50%;
  height:100%;
}

/*@media only screen and(max-width:750px){
	#about{
		Display: grid; 
grid-template-columns: 1fr;
Justify-content: center;
Align-items: center;
	}
}*/
