body {
	font-family: Arial Narrow, sans-serif;
	margin: 0;
	padding: 0;
}

/* Background Image Code */

.mainheading {
	display: flex;
	width: 100%;
	height: 500px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 80px;
	flex-direction: column;
	color:	white;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
	opacity: 1;
	font-weight: bolder;
	text-align: center;
	vertical-align: center;
	z-index: 0;
}

.mainheading::before {
background-image: url("compheading.JPG");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 500px;
}

/* Heading */

.item {
	font-size: 30px;
	padding: 15px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading {
	display: flex;
	width: 100%;
	height: 200px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	flex-direction: column;
	color:	white;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
	opacity: 1;
	font-weight: bolder;
	text-align: center;
	vertical-align: center;
}

.heading::before {
background-image: url("activitypic.JPG");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 200px;
}

/* Calendar */

.calendar {
	display: flex;
	padding: 30px;
	background-color: #0052A2;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;  
	
}

.miniheading {
	text-align: center;
	font-size: 60px;
	font-weight: bolder;
	grid-column: 1 / -1;
	font-family: Gabriola;
	z-index: 0;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
}

.border {
	display: flex;
	flex-template-columns: 1fr;
	flex-direction: column;
	padding: 30px;
	border: 3px dashed black;
	border-style: dotted;
}

/* Grid */

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	justify-items: center;
	vertical-align: center;
	background-image: linear-gradient(to right, #CCFFFF, #FFFFFF);
}

.comp {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	padding: 40px;
	align-content: stretch;
}

.minititle {
	font-size: 55px;
	text-align: center;
	border: dotted 3px black;
	padding: 10px;
}

.desc {
	font-size: 30px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 25px;
	text-align: center;
}

#local {
	font-size: 30px;
	line-height: 60px;
}

#kansas {
	font-size: 30px;
	line-height: 60px;
}

#nats {
	font-size: 30px;
	line-height: 60px;
}

.picture {
  max-width: 100%;
  height: auto;
}

.resize {
	padding: 10px;
	height: auto;
	width: 100%;
}
/* Grid Flex Formatting */
@media screen and (max-width: 62em) {
  #a, #b, #c, #d {   
	display: flex;
	flex-direction: column;
  }
  #a {
  order: 1;
  }
  #b {
  order: 2;
  }
  #c {
  order: 4;
  }
  #d {
  order: 3;
  }
  #e {
  order: 5;
  }
  #f {
  order: 6;
  }
}
/* LIT Info */

.lit {
	display: flex;
	width: 100%;
	height: 500px;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	vertical-align: center;
}

.lit::before {
background-image: url("litthree.jpg");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 500px;
content-align: bottom;
}

.litheading {
	font-size: 40px;
	color: black;
	padding: 5px;
}

#litdesc {
	font-size: 20px;
	color: black;
	opacity: 1;
}

/* Box Code */

.box {
	display: flex;
	flex-template-columns: 1fr;
	flex-direction: column;
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 1;
	z-index: 1;
	padding: 20px;
}
