body {
	font-family: arial;
	margin: 0;
	padding: 0;
}

/* Main Heading */

.mainheading {
	display: flex;
	width: 100%;
	height: 500px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: -1;
}

.mainheading::before {
background-image: url("olathenorth.png");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 500px;
}

.title {
	font-size: 80px;
	text-align: center;
	vertical-align: center;
	color:	white;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
	opacity: 1;
	font-weight: bolder;
	font-family: Arial, sans-serif;
}

.motto {
	font-size: 35px;
	text-align: center;
	vertical-align: center;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
	color: white;
	opacity: 1;
	font-weight: bolder;
}

/* Rest of Code */

/* What is TSA Section */

.info {
	background-color: #add8e6;
	display: grid;
	padding: 40px;
}

.info div {
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

/* Heading Flex Code */

.headingflex {
	display: grid;
	justify-content: stretch;
	grid-template-columns: 2fr 5fr;
}

@media screen and (max-width: 980px) {
  .row, .headingflex {   
    display: flex;
	flex-direction: column;
	justify-content: stretch;
  }
}

.pic {
}

.logo {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.body {
	font-size: 17px;
	padding: 0px;
	align-items: center;
}

.heading {
	display: flex;
	font-size: 60px;
	padding: 0px;
	margin-left: 0px;
	align-items: left;
}

/* Logo and Creed */


.tsainfo {
	background-color: #000066;
	padding: 50px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	color: white;
}

/* Creed and Logo Formatting */

@media screen and (min-width: 981px) {
	.tsainfo {
		grid-template-columns: 2fr 1fr;
	}
	
}

@media screen and (max-width: 980px) {
	.tsainfo {
		grid-template-columns: 1fr;
	}
}	

.creed {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
}

.labeltitleone {
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Gabriola;
}

.labeltitletwo {
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Gabriola;
}

.missionstatement {
	padding-right: 20px;
	padding-left: 20px;
}

.mstext {
	font-size: 20px;
	line-height: 34px;
}

.ONTSA {
	display: flex;
	width: 100%;
	height: 500px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 120px;
	flex-direction: column;
	z-index: -1;
}


.ONTitle {
	font-size: 40px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.box {
	display: flex;
	flex-direction: column;
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 1;
	z-index: 1;
}

.ONTSA::before {
background-image: url("on.jpg");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 500px;
}

.ONdescription {
	margin: 10px;
	font-size: 20px;
}

.headingtwo {
	font-size: 55px;
	padding-right: 20px;
	padding-left: 20px;
	grid-column: 1 / -1;
}
	
