body {
	font-family: arial;
	margin: 0;
	padding: 0;
}

/* Navbar */

.navbar {
  display: flex;
  background-color: #333;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 1;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

.norm {
	flex-grow: 1;
	text-decoration: none;
}

.space {
	flex-grow: 5;
}

/* Main Heading */

.mainheading {
	display: flex;
	width: 100%;
	height: 500px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: -1;
}

.mainheading::before {
background-image: url("olathenorth.png");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 500px;
}

.title {
	font-size: 80px;
	text-align: center;
	vertical-align: center;
	color:	white;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
	opacity: 1;
	font-weight: bolder;
	font-family: Arial, sans-serif;
}

.motto {
	font-size: 35px;
	text-align: center;
	vertical-align: center;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
	color: white;
	opacity: 1;
	font-weight: bolder;
}

/* Rest of Code */

/* What is TSA Section */

.info {
	background-color: #add8e6;
	display: grid;
	padding: 40px;
}

.info div {
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

/* Heading Flex Code */

.headingflex {
	display: grid;
	justify-content: stretch;
	grid-template-columns: 2fr 5fr;
}

@media screen and (max-width: 1100px) {
  .row, .headingflex {   
    display: flex;
	flex-direction: column;
  }
}

.pic {
}

.logo {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.body {
	font-size: 17px;
	padding: 0px;
	align-items: center;
}

.heading {
	display: flex;
	font-size: 60px;
	padding: 0px;
	margin-left: 0px;
	align-items: left;
}

/* Logo and Creed */


.tsainfo {
	background-color: #000066;
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
	color: white;
}


.creed {
	padding-left: 20px;
}

.labeltitle {
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Gabriola;
}

.missionstatement {
	padding-right: 20px;
	padding-left: 20px;
}

.mstext {
	font-size: 25px;
}

/* Learn More Section */

@media screen and (max-width: 76em) {
  #a, #b, #c, #d {   
	display: flex;
	flex-direction: column;
  }
  #a {
  order: 1;
  }
  #b {
  order: 2;
  }
  #c {
  order: 3;
  }
  #d {
  order: 4;
  }
  .learnmore {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
	grid-auto-rows: auto;
	background-color: #003399;
	padding: 100px;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
}

.course {
	display: flex;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	font-size: 40px;
	justify-content: center;
	align-items: center;
	font-family: Itim;
}	

.buttonclass {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
  background-color: #87ceeb; 
  color: black;
}

.button {
  background-color: #6699FF;
  border: solid black 3px;
  color: white;
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.normtwo {
	flex-grow: 1;
	text-decoration: none;
	color: white;
}
}

@media screen and (min-width: 76em) {
.learnmore {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	background-color: #003399;
	padding: 100px;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
}

.course {
	display: flex;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	font-size: 40px;
	justify-content: center;
	align-items: center;
	font-family: Itim;
}	

.buttonclass {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
  background-color: #87ceeb; 
  color: black;
}

.button {
  background-color: #6699FF;
  border: solid black 3px;
  color: white;
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.normtwo {
	flex-grow: 1;
	text-decoration: none;
	color: white;
}
}

/* Footer Code */

.ON {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	color: black;
	padding: 20px;
}

.ONTSA {
	display: flex;
	width: 100%;
	height: 500px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 120px;
	flex-direction: column;
	z-index: -1;
}


.ONTitle {
	font-size: 40px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.box {
	display: flex;
	flex-direction: column;
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.8;
}

.ONTSA::before {
background-image: url("on.jpg");
background-attachment: fixed;
background-size: cover;
content: "";
display: block;
position: absolute;
z-index: -2;
opacity: 0.4;
width: 100%;
height: 500px;
}

.ONdescription {
	margin: 10px;
	font-size: 20px;
}

.headingtwo {
	font-size: 50px;
	padding-right: 20px;
	padding-left: 20px;
	grid-column: 1 / -1;
}
	
