body{
	font-family:"times new roman";
	background-image: linear-gradient(#E99BE6, #BB5FE9, #8235D9);
	background-repeat: repeat;

}

button{
	text-align:center;
}
#merch{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

.tshirt{
	margin: 10px;
	width: 400px;
	height: 400px;
	position: relative;
	border: solid black 10px;
}

.click{
	background: white;
	font-family: "times new roman";
	font-size: 20px;
	width: 40px;
	height: 30px;
	border-radius: 15%;
}

.header{
	text-align:center;
	font-size:60px;
	margin:1em;
}

.image{
margin: 30px;
width: 400px;
height:400px;
border: solid black 10px;
transition: transform .2s;
}

.image:hover{
  transform: scale(1.5);
border: 0px;
}
a{
color: white;
font-size: 20px;
text-decoration:none;
text-align: center;
font-family:"times new roman";
}

a:hover{
	color:black
	
}

#info{
	font-size: 20px;
	color: black;
