body {
  font-family: "times new roman";
  margin: 0;
 color: black;
 background-image: linear-gradient(#FFCC33, #FF9966, #6633FF);
}

button{
	background-color: white;
	font-family: "segoe script";
	border-radius: 25%;
	color:black;
}
ul{
	margin:10em 5em 5em;
	padding:1em;
	
}

#tour{
	padding: 1em;
	font-family: "segoe script";
	color: black;
}

table{
	border-spacing: 20px;
	margin: 0 auto;
}

td{
	text-align:center;
	color:white;
}
.box{
	border: 1px solid black;
	padding: 1em;
	margin: .5em;
	background: #4B4D70;
	opacity: .5;
}
.album{
	width: 450px;
	height: 450px;
	margin: 1em 1em 3em 4em;
	
}

.main{
	position:relative;
	top:20px;
	color: blue;
	text-align:right;
}

.name{
	display:box;
	font-size:30px;
	font-family:"times new roman";
	background-color: #FFCCCC;
	color:white;
	width: 100%;
	height: 100px;
	text-align:center;
	margin: 0 0 40px 0;
	padding: 10px 0 15px 0;
	line-height:15px;
}
.page{
color: grey;
font-family: "segoe script";	
text-align:center;
font-size: 60px;
}

/*Music Description*/
.overlay {
  position: absolute;
  top: 8px;
  bottom: 0;
  left:8px;
  right: 0;
  height: 450px;
  width: 450px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  margin: 1em 1em 3em 4em;
  
}

.animate {
	width: 450px;
	height: 450px;
	margin: 0;
	position: relative;
}

.animate:hover .overlay{
  opacity: 1;
}

.text-container {
  position: relative;
  width: 50%;
  margin:0;

}

.text {
  color: black;
  opacity:1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*Get Updates*/

.get{
  text-align: center
  color: white;
}
.up{
margin: 10px;
color:white;
}

/*slide show css*/

.mySlides {
display:none;
margin: 0 10px auto;
max-width: 40%;
height: 500px;
padding: 20px;
}

.back{
max-width:100%;
height:650px;	
background-color: #FFDD52; 
}
.slide-container{
	max-width: 100%;
	animation-name: fade;
	animation: fading 10s infinite;
	margin: 0px auto;
	text-align: center;
	height: 500px;
}

@media only screen and (max-width: 750px) {
  .slide-container, .name {   
    width:100%;
  }
}
.fade{
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
	}
  60%{
     opacity: .75;
  }
	  
  100% {
    opacity: 0;
  }
}


/* Nav Bar */
a:hover{
	background: #00000;	
	}

.navbar {
  display: flex;
  background-color: #333;
  position:fixed;
  top:0;
  width:100%;
  z-index: 1;
  height:50px;
  font-size: 20px;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  top:0;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 750px) {
  .row, .navbar {   
    Display: grid; 
grid-template-columns: 1fr;
Justify-content: center;
Align-items: center;
  }
}
.norm {
	flex-grow: 1;
}
.space {
	flex-grow: 5;
}

* {
  box-sizing: border-box;
}

}
/* Column container */
.row {  
  display: flex;
  flex-direction:row;
}

.column {
	display: flex;
	flex-direction: column;
}
	

/* background*/
.fakeimg {
  background-color: #aaa;
  width: 100%;
   padding: .5em;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

