body{
  color: blue;
  padding: 2em;
  background-color: #F9E357;
}

button{
	background-color: white;
	font-family: "segoe script";
	border-radius: 25%;
}

#nav{
	background: white;
	padding: 1em;
}

#tour{
	padding: 1em;
	font-family: "segoe script";
	color: black;
}

#music{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}

.box{
	border: 1px solid black;
}
.album{
	width: 450px;
	height: 450px;
	
}

.album1{
	grid-rows: 2 / 4;
	grid-columns: 1 / 4;
	
}
.line{
	transform: rotate(-10deg);
	background-image: linear-gradient(red, blue);
	background-size: 20px 100%;
	position: float;
}

.main{
	position:relative;
	top:20px;
	color: blue;
	text-align:right;
}

.mySlides{
	width: 100%;
	height: 100px;
	margin: auto;
}

a:hover{
	background: #00000;	
	}

/* Navbar code 

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
.norm {
	flex-grow: 1;
}

.space {
	flex-grow: 5;
}

*/
