/* Slideshow Code */

.container {
	padding-top: 0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.slides {
	display: flex;
	height: 400px;
	width: 600px;
	flex-direction: column;
    overflow:hidden;
	border: 1px solid black;
	position: relative;
	margin:0 auto;
 }
.content {
	list-style:none;
}
.item {
}
/* keyframes #anim_slides */

@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.content .item {
    opacity:0;
    position:absolute;
    top:0;
    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
/* css3 delays */
.item:nth-child(2), .item:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.item:nth-child(3), .item:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.item:nth-child(4), .item:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.item:nth-child(6), .item:nth-child(6) div {
    -webkit-animation-delay: 24.0s;
    -moz-animation-delay: 24.0s;
}
.item:nth-child(8), .item:nth-child(8) div {
    -webkit-animation-delay: 30.0s;
    -moz-animation-delay: 30.0s;
}
.item:nth-child(10), .item:nth-child(10) div {
    -webkit-animation-delay: 36.0s;
    -moz-animation-delay: 36.0s;
}
.item:nth-child(12), .item:nth-child(12) div {
    -webkit-animation-delay: 42.0s;
    -moz-animation-delay: 42.0s;
}
.item:nth-child(14), .item:nth-child(14) div {
    -webkit-animation-delay: 48.0s;
    -moz-animation-delay: 48.0s;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:9%;
        opacity:1;
    }
    20% {
       left:9%;
       opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
   }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.words {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:20px;
    margin:0 auto;
    padding:20px;
    position:absolute;
    top:80%;
    width:450px;
	height: auto;
	text-align: center;
    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
